In [1]:
import pandas as pd
import numpy as np

df = pd.read_json('train.json').T
df.head()

  venue                                           keywords  year       author
0        [64, 1, 322, 134, 136, 396, 270, 144, 476, 481...  2017  [1605, 759]
1     0  [258, 260, 389, 261, 390, 396, 400, 17, 146, 2...  2013       [2182]
2     1  [320, 454, 266, 462, 17, 339, 404, 342, 407, 2...  2007       [2176]
3     2  [260, 132, 333, 15, 400, 272, 146, 401, 278, 3...  2013       [1107]
4     3  [64, 385, 449, 450, 71, 73, 268, 80, 216, 25, ...  2009       [1414]

In [2]:
df['keywords'] = df['keywords'].apply(lambda k: ','.join(map(str,k)))
df['author'] = df['author'].apply(lambda a: ','.join(map(str,a)))
df = df.replace(r'^\s*$',np.nan,regex = True)

df.head()

  venue                                           keywords  year    author
0   NaN  64,1,322,134,136,396,270,144,476,481,165,39,36...  2017  1605,759
1     0  258,260,389,261,390,396,400,17,146,274,21,283,...  2013      2182
2     1  320,454,266,462,17,339,404,342,407,25,154,474,...  2007      2176
3     2  260,132,333,15,400,272,146,401,278,342,25,346,...  2013      1107
4     3  64,385,449,450,71,73,268,80,216,25,161,226,166...  2009      1414

In [3]:
df_author = [a for a in df['author'].values]

for i in range(len(df_author)):
    df_author[i] = df_author[i].split(',')
    
for i in range(len(df_author)):
    for j in range(len(df_author[i])):
        df_author[i][j]= int(df_author[i][j])

In [4]:
labels = np.zeros([26108, 2302]).astype(int)

for i in range(len(df_author)):
    for j in range(len(df_author[i])):
        index = df_author[i][j]
        labels[i][index] = int(1)

In [5]:
for i in range(len(df['author'])):
    df['author'][i] = df['author'][i].split(',')
    for j in range(len(df['author'][i])):
        df['author'][i][j] = int(df['author'][i][j])

In [7]:
indexs = []
count_author = 0
for i in range(2302):
    index = []
    for j in range(26108):
        if count_author in df['author'][j]:
              for k in range(len(df['author'][j])):
                index.append(df['author'][j][k])
    index = list(set(index))
    indexs.append(index)
    count_author += 1

In [8]:
author_labels = list(map(list, zip(*labels)))
datasets = []
for i in range(2302):
    dataset = []
    keyword = []
    author = []
    for j in range(26108):
        for k in range(len(indexs[i])):
            if indexs[i][k] in df['author'][j]:
                if df['keywords'][j] not in keyword:
                    keyword.append(df['keywords'][j])
                    author.append(author_labels[i][j])
    dataset.append(keyword)
    dataset.append(author)
    datasets.append(dataset)